/* Typography */
.navbar-text {
  font-weight: bold;
  margin-right: 0;
}

/* Logos & Icons */
.main-logo {
  width: 124px;
  height: 34px;
  margin-top: 22px;
  text-indent: 100%;
  white-space: nowrap;
  background-image: url("../img/main-logo.png");
  background-repeat: no-repeat;
  background-size: 100%;
  overflow: hidden;
}

/* Layout */

.jumbotron {
  background-image: url("../img/main-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center 80px;
  background-attachment: fixed;
  padding: 100px 0;
}

.hero-img {
  
}
