/* Typography */
.navbar-text {
  font-weight: bold;
  margin-right: 0;
}

.jumbotron h1 {
  font-size: 4.3em;
}

h1 {
  font-weight: 200;
  margin-bottom: 30px;
}

h2,
h3 {
  font-size: 1.25em;
  color: #5f5d60;
  margin-bottom: 16px;
  margin-top: 0;
}

p {
  color: #b3aeb5;
  line-height: 1.7;
  font-size: 1.1em;
  font-weight: 200;
}

.lead {
  color: #d5c1f2;
}

.lead:nth-of-type(1) {
  margin-bottom: 75px;
}

.lead:nth-of-type(2) {
  font-size: initial;
  margin-bottom: 20px;
}

/* Logos & Icons */
.main-logo {
  width: 124px;
  height: 34px;
  margin-top: 22px;
  text-indent: 100%;
  white-space: nowrap;
  background-image: url("../img/main-logo.png");
  background-repeat: no-repeat;
  background-size: 100%;
  overflow: hidden;
}

.ft-icon {
  max-width: 345px;
  height: 196px;
  position: relative;
  background: #8c73b0 url("../img/main-bg.png") no-repeat;
  background-size: 91%;
  background-position: 187px top;
}

.ft-icon::before {
  content: "";
  position: absolute;
  width: 164px;
  height: 102px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  background: url("../img/feature-icons.png") no-repeat;
  background-size: 100%;
  z-index: 1;
}

.ft-icon::after {
  content: "";
  position: absolute;
  width: 195px;
  height: 195px;
  background-color: #d5c1f2;
  border-radius: 50%;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  box-shadow: 0 0 10px 2px #555 inset, 0 0 5px 1px #333 inset;
}

.friends::before {
  background-position: 0px -105px;
}

.cloud::before {
  background-position: 0px -210px;
}

.ft-icon.friends {
  background-size: 140%;
  background-position: -300px top;
}

.ft-icon.cloud {
  background-size: 140%;
  background-position: 200px top;
}

.th-logo {
  width: 155px;
  margin: -0.75em 0 0.95em 0;
}

/* Buttons */

.btn-default {
  border-width: 2px;
  border-color: inherit;
  margin-right: 15px;
  padding: 12px 22px;
  transition: background 0.5s ease, color 0.3s ease,
  box-shadow 0.3s ease;
}

.btn-default:hover {
  box-shadow: 0px 0px 0px 2px #977DBD, 0px 0px 0px 4px #fff;
  background: #fff;
  color: #957bba;
}

.btn-success {
  box-shadow: 3px 3px 5px #23812f;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
  font-size: 1.5em;
  padding: 0.8em 0.7em;
}

/* Layout */

hr {
  margin-bottom: 58px;
}

.jumbotron {
  background-image: url("../img/main-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center 80px;
  padding: 140px 0;
}

.hero-img {
  width: 100%;
  height: 589px;
  background-image: url("../img/device-hero.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.ft {
  margin-bottom: 5.142em;
}

.ft-text {
  padding: 1.5em 1em 0;
}

.panel {
  border-bottom: 1px solid #eee;
  padding: 3em 0;
  margin: 5.71em 0 9.42em 0;
  background-image: url("../img/form-panel-bg.png");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 100%;
}

.teacher-desc strong {
  display: block;
}

#th-copy {
  padding-top: 3.3em;
}

#th-copy-2 {
  padding-top: 1.7em;
}

.col-2 p {
  margin: 0;
  padding-bottom: 5px;
}

.callout {
  padding: 2.5em 0;
  margin-top: 64px;
  text-align: center;
  border-top: 1px solid #e3e3e3;
  border-bottom: 1px solid #e3e3e3;
}

.callout .glyphicon {
  margin-left: 10px;
  top: 2px;
}

/* Form */

.phone-txt {
  padding: 1.71em 0.85em;
  margin-left: 14px;
}

.btn-submit {
  color: inherit;
  font-size: 1.6em;
  position: absolute;
  background-color: #dcdfe1;
  bottom: 1px;
  right: 88px;
  z-index: 100;
}

/* Modal */

.modal-body {
  text-align: center;
}

/* Media Queries */

@media only screen and (max-width: 991px) {
  .jumbotron {
    padding: 100px 0;
    background-position: -18% 80px;
  }

  .jumbotron h1 {
    font-size: 2.5em;
    line-height: 1.3;
  }

  .jumbotron p {
    font-size: 1.4em;
  }

  .btn-default {
    margin-top: 15px;
  }

  .ft {
    margin-bottom: 2.285em;
  }

  .ft-text {
    padding-top: 0.857em;
  }

  .phone-txt {
    margin-left: 0;
  }

  .btn-submit {
    right: 102px;
  }
}

@media only screen and (max-width: 767px) {

  hr {
    margin-bottom: 40px;
  }

  .panel {
    margin: 5.72em 0;
  }

  .navbar {
    min-height: 60px;
  }

  .navbar-text {
    margin: 20px 10px 0 0;
  }

  .main-logo {
    width: 82px;
    margin-top: 18px;
  }

  .jumbotron {
    padding-top: 80px;
    background-position: 12% 60px;
  }

  .hero-img {
  max-width: 170px;
  max-height: 290px;
  margin: 40px auto;
  }

  .lead:nth-of-type(3) {
    text-align: center;
  }

  .lead:nth-of-type(2) {
    margin-bottom: 40px;
  }

  .send-data {
    text-align: center;
  }

  .send-data p {
    margin-top: 15px;
  }

  .panel {
    padding: 1em 1em;
  }

  form label {
    margin: 15px 0;
  }

  .phone-txt {
    margin: 20px auto;
    width: auto;
  }

  .btn-submit {
    display: block;
    position: static;
    background-color: rgb(211, 211, 211);
    width: 190px;
    margin: 0 auto;
  }

  .btn-success {
    font-size: 1.1em;
  }
}

@font-face {
    font-family: 'icomoon';
    src:    url('../fonts/icomoon.eot?rpzqbv');
    src:    url('../fonts/icomoon.eot?rpzqbv#iefix') format('embedded-opentype'),
        url('../fonts/icomoon.ttf?rpzqbv') format('truetype'),
        url('../fonts/icomoon.woff?rpzqbv') format('woff'),
        url('../fonts/icomoon.svg?rpzqbv#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[data-icon]::before {
  font-family: "icomoon";
  content: attr(data-icon);
  font-size: 1.1em;
  margin-right: 8px;
  speak: none;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
}
